.carrito { 
    background: orange;
    display: flex;
    flex-direction: column;
}

.resume { 
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.tittle{
    border: 1px solid black;
    
}